<br />
<div class="booyah-box col-10 offset-1">

	<h1><%= @business_hour.day %></h1>
	<h2><%= @business_hour.opening_time.strftime("%l:%M %p") %></h2> 
	<h2><%= @business_hour.closing_time.strftime("%l:%M %p") %></h2>
	<div class="float-right">
		<%= link_to 'Edit', edit_administrator_business_hour_path(@business_hour), class: 'btn btn-primary' %>
		<%= link_to 'Destroy', administrator_business_hour_path(@business_hour), method: :delete, data: 
		{confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
	</div>
</div>