<br />
<div class="booyah-box col-10 offset-1">
	<h1>Edit Menu Items:</h1>

	 <%= simple_form_for [:administrator, @food] do |f| %>
    <%= f.association :food_type %>
    <%= f.input :food_name %>
    <%= f.input :serving_size, label: 'Serving Size(g)' %>
    <%= f.input :calorie, label: 'Calories' %>
    <%= f.input :total_fat, label: 'Total Fat(g)' %>
    <%= f.input :trans_fat, label: 'Trans Fat(g)' %>
    <%= f.input :sodium, label: 'Sodium(mg)' %>
    <%= f.input :sugar, label: 'Sugar(g)' %>
    <%= f.input :protein, label: 'Protein(g)' %>
   <br />
    <%= f.submit "Update", class: 'btn btn-primary' %>
    <br />
  <% end %>
  <br />
  
</div>
