<br />
<div class="booyah-box col-10 offset-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12 menu-image">
       <%= image_tag @menu_item.image, class: 'img-fluid' %>
       <h1 class="text-center"><%= @menu_item.name %></h1>
      </div>
      <div class="col-sm-6 col-12  menu_description">
        <h2><%= @menu_item.description %></h2>
        <br />
        <h4> Meal Price:  $<%= @menu_item.price %></h4>

      <div class="buttons">
      <%= link_to 'Add to Cart', cart_items_path(menu_item_id: @menu_item), method: :post, class:'btn btn-primary' %>
  	      
      </div>
     </div>
  </div>
  </div>
</div>
