<!DOCTYPE html>
<html>
  <head>
    <title>Chewy's</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     <%= link_to 'Chewy\'s', root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        
          <li class="nav-item">
            <%= link_to 'View Menu', menu_items_path %>
          </li>
          
        </ul>
        <ul class="navbar-nav">
         <% if current_user %>
          <li class="nav-item">
            "You're signed in as" <%= current_user.email %>.
          </li>
          <li class="nav-item">
            <= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </li>
           <% else %>
           <li class="nav-item">
            <%= link_to "Log In", new_user_session_path %>
           </li>
           <li class="nav-item">
            <%= link_to "Create an Account", new_user_registration_path %>
           </li>
          <% end %>
        </ul>
      </div>
    </nav>
          <% if notice.present? %>
            <p class="notice"><%= notice %></p>
          <% end %>

          <% if alert.present? %>
            <p class="alert"><%= alert %></p>
          <% end %>
       
      <%= yield %>
    </div>

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-3">
          <%= link_to 'About Us', "#" %>
          <br />
            <%= link_to 'History', "#" %>
          <br />
            <%= link_to 'Administrator', new_administrator_menu_item_path %>
          
        </div>
        <div class="col-12 col-sm-3">
          <br />
            <%= link_to 'Restaurant Hours', new_administrator_business_hour_path %>
        </div>
        <div class="col-12 col-sm-3">
          <br />
            <%= link_to 'Nutrition', new_administrator_food_path %>
        </div>
        <br />
        <div class="col-12 col-sm-3">
          <br />
            <%= link_to 'FAQ', "#" %>
          <br />
          <%= link_to 'Contact Us', "#" %>
          <br />
          <%= link_to 'Employment Opportunities', "#" %>
        </div>
      </div>
    </div>
    
  </div>

</body>
</html>